.width-100 {
  width: 100%;
}
.mobile-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 6rem;
  font-weight: lighter;
}
h2 {
  font-size: 4rem;
  padding-bottom: 10px;
  font-weight: lighter;
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-weight: lighter;
}
h4 {
  font-size: 2.2rem;
  padding-bottom: 10px;
  font-weight: lighter;
}
p {
  line-height: 1.8;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filters .title {
  font-size: 2rem;
  margin-right: 20px;
}
.filters .topics {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  .filters .topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.filters .topics .filter {
  font-size: 1.2rem;
  background-color: #4694ea;
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 10px;
}
.filters .topics .filter:hover {
  background-color: #FFFFFF;
  color: #4694ea;
  border: 1px solid #4694ea;
}
.filters .topics .filter .active-filter {
  background-color: #FFFFFF;
  color: #4694ea;
  border: 1px solid #4694ea;
}
@media (max-width: 500px) {
  .filters .topics .filter {
    width: 20%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 800px;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.nav-bar .logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}
.nav-bar .anchors {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar .anchors a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #36454f;
}
.nav-bar .anchors a:hover {
  color: #ED7470;
  cursor: pointer;
}
.nav-bar .nav-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
@media (max-width: 500px) {
  .nav-bar .nav-cta {
    width: 50%;
  }
}
.nav-bar .nav-cta .login-cta {
  background-color: #FFFFFF;
  color: #4694ea;
  font-family: Lato;
  font-size: 1.4rem;
  border-radius: 15px;
  padding: 15px;
  border: none;
}
.nav-bar .nav-cta .login-cta:hover {
  background-color: #4694ea;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .nav-bar .nav-cta .login-cta {
    width: 70%;
  }
}
.nav-bar .nav-cta .sign-up-cta {
  background-color: #FFFFFF;
  color: #ED7470;
  border: 1px solid #ED7470;
  font-family: Lato;
  font-size: 1.4rem;
  border-radius: 20px;
  padding: 10px 20px;
}
.nav-bar .nav-cta .sign-up-cta:hover {
  background-color: #ED7470;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 500px) {
  .nav-bar .nav-cta .sign-up-cta {
    width: 70%;
  }
}
.home {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .home {
    width: 100%;
  }
}
.home .hero {
  display: flex;
  margin: 40px 0;
  padding: 100px 0;
  border-bottom: 0.5px solid lightgrey;
}
@media (max-width: 500px) {
  .home .hero {
    display: flex;
    flex-direction: column;
    background-color: #4694ea;
    color: #FFFFFF;
    width: 100%;
  }
}
.home .hero-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .home .hero-text {
    width: 100%;
    align-content: center;
  }
}
.home .hero-text h1 {
  margin: 10px;
}
.home .hero-text h4 {
  margin: 10px;
}
.home .hero-text .main-cta {
  background-color: #ED7470;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 1.4rem;
  border-radius: 20px;
  padding: 15px 20px;
  width: 40%;
}
@media (max-width: 500px) {
  .home .hero-text .main-cta {
    width: 80%;
  }
}
.home .hero-text .main-cta:hover {
  background-color: #FFFFFF;
  color: #ED7470;
  border: 1px solid #ED7470;
  cursor: pointer;
}
.home .hero-image {
  max-width: 45%;
  height: auto;
}
@media (max-width: 500px) {
  .home .hero-image {
    display: none;
  }
}
.section1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 40px 0px;
  margin: 40px 20px;
  border-bottom: 0.5px solid lightgrey;
}
@media (max-width: 500px) {
  .section1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
.section1 .sectiontext {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  width: 45%;
}
@media (max-width: 500px) {
  .section1 .sectiontext {
    width: 100%;
  }
}
.section1 .intro-img {
  width: 45%;
  height: 45%;
}
@media (max-width: 500px) {
  .section1 .intro-img {
    width: 100%;
    height: auto;
  }
}
.section2 {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
  margin: 40px 20px;
  border-bottom: 0.5px solid lightgrey;
}
@media (max-width: 500px) {
  .section2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
  }
}
.section2 .sectiontext {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  width: 50%;
}
@media (max-width: 500px) {
  .section2 .sectiontext {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .section2 .sectiontext h2 {
    margin-bottom: 20px;
  }
}
.section2 .demo-GIF {
  width: 45%;
  height: 45%;
}
@media (max-width: 500px) {
  .section2 .demo-GIF {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  margin: 40px 20px 60px 20px;
  width: 100%;
  border-bottom: 0.5px solid lightgrey;
}
@media (max-width: 500px) {
  .section3 {
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  .section3 h2 {
    margin-bottom: 20px;
  }
}
.section3 .steps {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .section3 .steps {
    display: flex;
    flex-direction: column;
  }
  .section3 .steps .subsection {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid lightgray;
  }
  .section3 .steps .section-text {
    background-color: #ED7470;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
.section3 .steps .subsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
@media (max-width: 500px) {
  .carousel {
    width: 100%;
    padding: 40px 0;
  }
}
.carousel .carousel-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .carousel .carousel-section {
    width: 100%;
  }
}
.carousel .left-button {
  font-size: 5rem;
}
.carousel .right-button {
  font-size: 5rem;
}
.carousel .carousel-image {
  width: 100%;
  height: auto;
}
.bottom-section {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ED7470;
  color: #FFFFFF;
  width: 100%;
}
.bottom-section .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.bottom-section .contact .phone {
  font-size: 1.5rem;
}
.bottom-section .contact .email {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.bottom-section .copyright {
  display: flex;
  justify-content: center;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 800px;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.nav-bar .logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}
.nav-bar .anchors {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar .anchors a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #36454f;
}
.nav-bar .anchors a:hover {
  color: #ED7470;
  cursor: pointer;
}
.nav-bar .nav-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
.nav-bar .nav-cta .login-cta {
  background-color: #FFFFFF;
  color: #4694ea;
  font-family: Lato;
  font-size: 1.4rem;
  border-radius: 15px;
  padding: 15px;
  border: none;
}
.nav-bar .nav-cta .login-cta:hover {
  background-color: #4694ea;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.nav-bar .nav-cta .sign-up-cta {
  background-color: #FFFFFF;
  color: #ED7470;
  border: 1px solid #ED7470;
  font-family: Lato;
  font-size: 1.4rem;
  border-radius: 20px;
  padding: 10px 20px;
}
.nav-bar .nav-cta .sign-up-cta:hover {
  background-color: #ED7470;
  color: #FFFFFF;
  cursor: pointer;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;
  padding: 80px 0;
  border-bottom: 0.5px solid lightgrey;
}
@media (max-width: 500px) {
  .team {
    width: 90%;
  }
}
.team h2 {
  display: flex;
  justify-content: center;
}
.team p {
  width: 80%;
  margin: 30px 0 0 0;
}
.home {
  margin: 20px;
  display: flex;
}
@media (max-width: 500px) {
  .home {
    width: 90%;
  }
}
.home .headshots {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}
.home .headshots .headshot {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.home .headshots .headshot .name {
  font-size: 2rem;
}
.home .headshots .headshot .headshot-image {
  width: 200px;
  margin-bottom: 15px;
}
.apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
}
.apply form {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 20px 0;
}
.apply form input {
  width: 300px;
  border-radius: 10px;
  height: 2.5rem;
}
.apply form .why {
  height: 10rem;
}
.apply form .submit-button {
  background-color: #4694ea;
  color: #FFFFFF;
  font-size: 1.5rem;
  height: 3rem;
  width: 50%;
}
.bottom-section {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ED7470;
  color: #FFFFFF;
}
.bottom-section .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-section .contact .email {
  text-decoration: none;
}
.bottom-section .copyright {
  display: flex;
  justify-content: center;
}
