.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 800px;
  margin-top: 20px;


  @media @mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
    }

  .anchors {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 1.4rem;
      color: @text-color;

      &:hover {
        color: @highlight-color;
        cursor: pointer;
      }
    }
  }

  .nav-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;

      .login-cta {
        background-color: @header-color;
        color: @background-color;
        font-family: Lato;
        font-size: 1.4rem;
        border-radius: 15px;
        padding: 15px;
        border: none;

        &:hover {
          background-color: @background-color;
          color: @header-color;
          border-radius: 20px;
          padding: 10px 20px;
          cursor: pointer;
        }
      }

      .sign-up-cta {
        background-color: @header-color;
        color: @highlight-color;
        border: 1px solid @highlight-color;
        font-family: Lato;
        font-size: 1.4rem;
        border-radius: 20px;
        padding: 10px 20px;

        &:hover {
          background-color: @highlight-color;
          color: @header-color;
          cursor: pointer;
        }
      }
  }

}

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;

  }



.home {
  margin: 10px;

  @media @mobile {
    width: 90%;
   }







}


  .bottom-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: @highlight-color;
    color: @header-color;


    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .email {
        text-decoration: none;
      }

    }

    .copyright {
    display: flex;
    justify-content: center;
    }
  }
