.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 800px;
  margin-top: 20px;


  @media @mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
    }

  .anchors {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 1.4rem;
      color: @text-color;

      &:hover {
        color: @highlight-color;
        cursor: pointer;
      }
    }
  }

  .nav-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;

      .login-cta {
        background-color: @header-color;
        color: @background-color;
        font-family: Lato;
        font-size: 1.4rem;
        border-radius: 15px;
        padding: 15px;
        border: none;

        &:hover {
          background-color: @background-color;
          color: @header-color;
          border-radius: 20px;
          padding: 10px 20px;
          cursor: pointer;
        }
      }

      .sign-up-cta {
        background-color: @header-color;
        color: @highlight-color;
        border: 1px solid @highlight-color;
        font-family: Lato;
        font-size: 1.4rem;
        border-radius: 20px;
        padding: 10px 20px;

        &:hover {
          background-color: @highlight-color;
          color: @header-color;
          cursor: pointer;
        }


      }

  }

}


.home {
  margin: 10px;

  @media @mobile {
    width: 90%;
   }


   .hero {
   display: flex;
   margin: 40px 0;
   padding: 100px 0;
   border-bottom: 0.5px solid lightgrey;

    @media @mobile {
      .mobile-stack();
      height: auto;
    }

    .hero-text {
      max-width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin: 10px;
      }

      h4 {
        margin:10px;
      }

      .main-cta {
        background-color: @highlight-color;
        color: @header-color;
        font-family: Lato;
        font-size: 1.4rem;
        border-radius: 20px;
        padding: 15px 20px;
        width: 40%;

        &:hover {
          background-color: @header-color;
          color: @highlight-color;
          border: 1px solid @highlight-color;
          cursor: pointer;
        }
      }

    }

    .hero-image {
      max-width: 45%;
      height: auto;
    }


   }


  .section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 40px 0px;
    margin: 40px 20px;
    border-bottom: 0.5px solid lightgrey;

    @media @mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .sectiontext {
      display: flex;
      flex-direction: column;
      padding-left: 40px;
      width: 45%;
    }

    .intro-img {
      width: 45%;
      height: 45%;
    }

  }

  .section2 {
    display: flex;
    justify-content: content;
    padding: 100px 0px;
    margin: 40px 20px;
    border-bottom: 0.5px solid lightgrey;

    @media @mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .sectiontext {
      display: flex;
      flex-direction: column;
      padding-right: 40px;
      width: 50%;
    }

    .demo-GIF {
      width: 45%;
      height: 45%;
    }
  }



  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    margin: 40px 20px 60px 20px;

    .steps {
      display: flex;
      flex-direction: row;

    @media @mobile {
      display: flex;
      flex-direction: column;
    }


      .subsection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      }
    }
  }
}


  .bottom-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: @highlight-color;
    color: @header-color;


    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;


      .phone {
        font-size: 1.5rem;
      }

      .email {
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
      }

    }

    .copyright {
    display: flex;
    justify-content: center;
    }
  }
