.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin: 20px;
}

.logo {


  }


.home {


  @media @mobile {
    width: 90%;
   }


   .header {
   width: 100%;
   height: 300px;
   display: flex
   border-style: 2px solid red;

    .hero-image {
      max-width: 100%;
      height: auto;

    }


   }


  .section1 {
    display: flex;
    border: 2px solid red;

    .sectiontext {
      display: flex;
      flex-direction: column;

    }

  }

  .section2 {

  }

  .section3 {
    display: flex;


    .subsection {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }








}
